<div class="feed">
  <p id="notice"><%= notice %></p>

  <div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="card">
        <% @quips.each do |quip| %>
          <tr>
            <td><%= quip.user.name %></td>
            <td>@<%= quip.user.username %></td>
          </tr>
          <tr>
            <td><%= quip.body %></td>
            <td><%= link_to 'Show', quip %></td>
            <td><%= link_to 'Edit', edit_quip_path(quip) %></td>
            <td><%= link_to 'Destroy', quip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>