<!DOCTYPE html>
<html>
  <head>
    <title>Britter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <div class="index-wrapper">
      <header class="index-header card">
          <h1 class="index-title">Britter</h1>
          <div class="index-content-wrapper">
            <div class="index-menu">
                <a>Login</a>
                <a>Register</a>
            </div>
          </div>
      </header>

    </div>

  <body>
    <%= yield %>
  </body>
</html>
